@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(113deg, #984d38 -30.3%, #181e41 58.12%) no-repeat;
  font-weight: 500;
  color: #fff;
  /* background-attachment: fixed;  */
  /* overflow: auto; */
}

.header {
  display: flex;
  max-width: 1197px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px 111px 16px;
  font-size: 20px;
}

.header__nav {
  margin-right: 11px;
}

.header__logo {
  display: block;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  width: 130px;
  height: 25px;
}

.form {
  position: relative;
  margin-right: 8px;
}

.form__button {
  display: block;
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: calc(50% - 10px);
  left: 10px;
}

.form__input {
  width: 384px;
  padding: 13px 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
}

.form__input:focus {
  outline: none;
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 40px;
  font-size: 20px;
}

.header__link {
  color: #fff;
  text-decoration: none;
}

.header__link_gradient {
  background: linear-gradient(214deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  padding: 10px 20px;
}

.container {
  max-width: 1197px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__text {
  flex-basis: 490px;
}

.main__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}

.main__description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  line-height: 1.8;
  margin-top: 0;
  margin-bottom: 42px;
}

.main__btn {
  color: #fff;
  padding: 11px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.main__btn_gradient {
  background: linear-gradient(214deg, #b75cff 6.04%, #671ae4 92.95%);
  margin-right: 16px;
}

.main__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
  gap: 113px;
  margin-top: 60px;
  margin-bottom: 24px;
}

.main__item {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.main__span {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 9px;
}

.main__image {
  flex-basis: calc(100% - 490px - 116px);
}

.main__img {
  width: 100%;
}

.company {
  display: flex;
  justify-content: space-between;
  margin-top: 145px;
  margin-bottom: 36px;
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.8;
}

.description {
  margin: 0 auto;
  max-width: 420px;
  line-height: 1.5;
  text-align: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 15px;
}

.card {
  display: flex;
  justify-content: space-between;
  margin: 30px 5px 257px -7px;
}

.card__title {
  margin: 0 0 4px -14px;
}

.card__item {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 26px 26px;
  box-sizing: border-box;
  flex-basis: 32.5%;
  transition: 0.3s;
}

.card__item:hover {
  background: rgba(255, 255, 255, 0.5);
}

.card__cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 380px;
  border-radius: 10px;
}

.card__img {
  width: 100%;
  height: 380px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.card__nick {
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
}

.card__author {
  font-size: 20px;
  font-weight: 700;
  margin-top: 18px;
}

.card__bid {
  text-align: right;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
  margin-right: 1px;
}

.card__price {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-top: 6px;
  margin-right: 1px;
}

.card__link {
  display: block;
  text-align: center;
  color: #fff;
  padding: 14px 20px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 10px;
  background: linear-gradient(214deg, #b75cff 6.04%, #671ae4 92.95%);
  margin-top: 25px;
  position: relative;
}

.card__link:hover {
  background: linear-gradient(45deg, #b75cff 33%, #671AE4 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__link:after {
  content: '';
  background-image: url(../images/button_border.svg);
  display: block;
  width: 100%;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s;
}

.card__link:hover:after {
  opacity: 1;
}

.questions {
  margin-bottom: 112px;
}

.collapsible {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.50);
  cursor: pointer;
  padding: 15px 0px 22px;
  margin-bottom: 39px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-bottom: 1px solid #fff;
  font-weight: 500;
}

.active, .collapsible:hover {
  background-color: transparent;
  color: #fff;
}

.collapsible:after {
  content: '\002B';
  color: rgba(255, 255, 255, 0.50);
  float: right;
  margin-right: 5px;
}

.active:after {
  color: rgba(255, 255, 255, 1);
  content: "\2212";
  font-weight: bold;
}

.content {
  padding: 0 18px;
  max-height: 0;
  line-height: 1.5;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.faq {
  display: flex;
  justify-content: space-between;
}

.faq__title {
  max-width: 390px;
  margin: auto;
}

.faq__item {
  flex-basis: 49.3%;
}

.faq__description {
  margin: 10px auto 39px;
  padding-left: 10px;
}

.banner {
  background: linear-gradient(214deg, #B75CFF 6.04%, #671AE4 92.95%);
  border-radius: 10px;
  padding: 50px 15px 58px;
  text-align: center;
  margin-bottom: 100px;
}

.banner__title {
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  margin: 0 auto 30px;
  line-height: normal;
}

.banner__link {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  line-height: normal;
}

@media(max-width: 1130px){
  
}